~$*.SLDASM
~$*.SLDPRT
_$*.SLDASM
_$*.SLDPRT
_$*.SLDPRT
*.asv
~*.xlsx
*.venv
*.ini
*.swj
*.vscode
*.zip
*.DS_Store
Testing_Data/2022_02_Festo/~$Results_table_FullSize.xlsx
Testing_Data/2022_02_Festo/~$Results_table_10mm.xlsx
Documentation/Reports and Papers/Knee_Torque_Test/Tables/~$CoefficientTable.xlsx
Testing_Data/~$StraightForceTest.xlsx
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$MuscleOrigins_003.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$MuscleOrigins_002.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$09_BA_001.SLDASM
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$05_01_TI_R_003.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$05_01_TI_R_002.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$04_06_FL_001.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$04_05_BL_001.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$04_02_KB_R_002.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$04_01_KT_R_002.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$03_01_FB_R_004_ribLink.SLDPRT
Solid_Models/Biomimetics_2022-Knee_Test/Knee assembly/~$03_01_FB_R_004.SLDPRT
